/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--black: #000000;
	--white: #f9faff;
	--beige: #f5efe7;
	--mate_black: #141414;
	--background: var(--black);
	--foreground: var(--white);
	--cardbackground: var(--mate_black);
}

html,
body {
	background-color: var(--background);
	color: var(--foreground);
	height: 100%;
	margin: 0;
}

/*! Navbar Section */
.navbar {
	background-color: #141414;
	padding: 20px 40px;
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-logo {
	font-size: 24px;
	font-weight: bold;
	color: #e50914;
	text-decoration: none;
}

.navbar-menu {
	list-style: none;
	display: flex;
}

.navbar-menu li {
	margin-left: 20px;
}

.navbar-menu li a {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease;
}

.navbar-menu li a:hover {
	color: #b2070d;
}

.navbar-profile {
	display: flex;
	align-items: center;
}

.switch-toggle {
	margin-right: 15px;
}
.navbar-profile-img {
	width: 50px;
	height: 50px;
	border-radius: 10%;
}

/* ! Toggle */
/* The switch - the box around the slider */
.switch {
	display: block;
	--width-of-switch: 3.5em;
	--height-of-switch: 2em;
	/* size of sliding icon -- sun and moon */
	--size-of-icon: 1.4em;
	/* it is like a inline-padding of switch */
	--slider-offset: 0.3em;
	position: relative;
	width: var(--width-of-switch);
	height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f4f4f5;
	transition: 0.4s;
	border-radius: 30px;
}

.slider:before {
	position: absolute;
	content: '';
	height: var(--size-of-icon, 1.4em);
	width: var(--size-of-icon, 1.4em);
	border-radius: 20px;
	left: var(--slider-offset, 0.3em);
	top: 50%;
	transform: translateY(-50%);
	background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #303136;
}

input:checked + .slider:before {
	left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
	background: #303136;
	/* change the value of second inset in box-shadow to change the angle and direction of the moon  */
	box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* !Film Section */
#Film.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: auto;
	margin: 10px;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.film-card {
	background-color: var(--cardbackground);
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
	padding: 20px;
	width: 25%;
	min-width: 350px;
	margin: 10px;
	position: relative;
	transition: transform 0.3s ease;
}

.film-card:hover {
	transform: translateY(-5px);
}

@media (max-width: 1200px) {
	.film-card {
		width: 250px;
	}
}

@media (max-width: 768px) {
	.film-card {
		width: 200px;
	}
}

.film-image img {
	width: 100%;
	height: 398px;
	border-radius: 4px;
	object-fit: cover;
}

.film-details {
	margin-top: 20px;
}

.film-title {
	font-size: 18px;
	font-weight: bold;
	color: var(--foreground);
	margin-bottom: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.film-year,
.film-nation {
	font-size: 14px;
	color: #808080;
	margin-bottom: 4px;
}

.watch-film-btn button {
	margin-top: 10px;
	background-color: #e50914;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.watch-film-btn button:hover {
	background-color: #b2070d;
}

.film-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 8px;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.3s ease;
}

.film-card:hover .film-overlay {
	opacity: 1;
}

.film-overlay-content {
	text-align: center;
}

.film-overlay-title {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 8px;
}

.film-overlay-description {
	font-size: 16px;
	color: #fff;
}

.film-overlay-close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
}
/* 68686868 */
/* !Footer Section */
footer {
	background-color: #141414;
	color: #808080;
	padding: 20px 0;
	font-size: 14px;
	text-align: center;
	margin-top: auto;
}

#Footer.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.footer-logo a {
	font-size: 18px;
	font-weight: bold;
	color: #e50914;
	text-decoration: none;
}

.footer-links {
	list-style: none;
	display: flex;
}

.footer-links li {
	margin-left: 20px;
}

.footer-links li a {
	color: #808080;
	text-decoration: none;
	transition: color 0.3s ease;
}

.footer-links li a:hover {
	color: #fff;
}

.footer-text {
	font-size: 12px;
}
/*!Popup */
.popup-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
}

.popup-content {
	background-color: var(--cardbackground);
	border-radius: 8px;
	padding: 20px;
	width: 800px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.close-popup-row {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	display: flex;
	justify-content: flex-end;
}

#closePopup {
	font-size: 20px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	color: #777;
	transition: color 0.3s ease;
}

#closePopup:hover {
	color: #ee343d;
}

.film-details-popup {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.film-details-popup .film-image {
	flex-shrink: 0;
	margin-right: 20px;
}

.film-details-popup .film-image img {
	width: 200px;
	height: 300px;
	object-fit: cover;
	border-radius: 4px;
}

.film-details-popup .film-info {
	color: var(--foreground);
	text-align: left;
	flex: 1;
}

.film-details-popup .film-info h2 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.film-details-popup .film-info p {
	font-size: 16px;
	margin-bottom: 5px;
}

.youtube-video {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.youtube-video iframe {
	max-width: 100%;
	border-radius: 4px;
}

/* ! Contact */

.contact-container {
	height: 79vh;
	max-width: 1000px;
	margin: 0 auto;
	padding: 130px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.contact-info {
	width: 50%;
	margin-right: 40px;
}

.contact-form {
	width: 50%;
}

.contact-info h1 {
	font-size: 36px;
	margin-bottom: 30px;
	color: #e50914;
	left: 0;
}

.contact-info .info {
	margin-bottom: 30px;
}

.contact-info p {
	font-size: 20px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	color: var(--foreground);
}

.contact-info i {
	margin-right: 10px;
}

.contact-info a {
	color: var(--foreground);
	text-decoration: none;
}

.contact-form h2 {
	color: var(--foreground);
	font-size: 24px;
	margin-bottom: 20px;
}

.contact-form form {
	display: flex;
	flex-direction: column;
}

.contact-form input,
.contact-form textarea {
	padding: 12px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	background-color: #1a1a1a;
	color: #fff;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
	color: #fff;
}

.contact-form textarea {
	height: 120px;
}

.contact-form button {
	padding: 12px 30px;
	background-color: #e50914;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

.contact-form button:hover {
	background-color: #b2070a;
}

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
		align-items: center;
	}

	.contact-info {
		margin-right: 0;
		margin-bottom: 40px;
		text-align: center;
	}

	.contact-form {
		width: 100%;
	}
}

/* !News */
.news-container {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.news-paper {
	padding: 1rem;
	background-color: var(--cardbackground) !important;
	color: var(--foreground) !important;
}

.news-title {
	margin-bottom: 3rem;
	color: #e50914;
}

.news-newsItem {
	margin-bottom: 2rem;
}

.news-image {
	width: 100%;
	height: 300px;
	object-fit: cover;
	margin-bottom: 1rem;
}
/* ! */
